<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="createSubTaskLabel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{AllFormData.ProjectNumber}}
            </h4>
            <p>{{AllFormData.ProjectName}}</p>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{DevGroup}} - {{SmName}}
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>PB</th>
                                <th>Name</th>
                                <th>Assignee</th>
                            </tr>
                            <tr ng-repeat="p in ProjectList">
                                <td>{{p.Key}}</td>
                                <td>{{p.Title}}</td>
                                <td>{{GetAssigneeGroup(p.Subtask)}}</td>
                            </tr>
                            @*<tr>{{AllFormData}}</tr>*@
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="bt_accept" type="submit" class="btn btn-primary disabled" ng-click="Save()"><span>(5)</span>&nbsp;Accept</button>
        </div>
    </div>
</div>

<script>
    $('.modal').addClass('animated slideInDown');
</script>
