@{
    ViewBag.Title = "Create Project";
    Layout = "~/Views/Shared/_MockupLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Scrum/CpStellaTest.js"></script>
}

<div class="container-fluid" ng-app="jiraApp" ng-controller="JiraCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create Project</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" class="ng-pristine ng-valid">

                        <!-- Basic Info -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Project No</label>
                                    <input class="form-control" maxlength="5" placeholder="9527" ng-model="ProjectNumber" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <input class="form-control" maxlength="200" placeholder="" ng-model="ProjectName" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Dev Gruop</label>
                                    <div></div>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsDevGroup" id="optionsDevGruop1" value="1" ng-model="DevGruop" />WWW
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsDevGroup" id="optionsDevGruop2" value="2" ng-model="DevGruop" />SSL
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Scrum Master</label>
                                    <input class="form-control" list="listMembers" maxlength="20" placeholder="" ng-model="SMUID" />
                                    <!-- List Data -->
                                    <datalist id="listMembers">
                                        <option ng-repeat="m in MembersList" value="{{m.UID}}">{{m.Name}}</option> 
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <!-- Date -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Start Day</label>
                                    <input class="form-control" type="date" maxlength="10" ng-model="StartDate" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Release Day</label>
                                    <input class="form-control" type="date" maxlength="10" ng-model="ReleaseDate" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Launch Day</label>
                                    <input class="form-control" type="date" maxlength="10" ng-model="LaunchDate" />
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                        <h2>Back log</h2>
                        <!-- Back log PB list-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr id="{{u.IssueId}}" ng-click="SelectedLog(u)" ng-repeat="u in BacklogList">
                                                    <td>{{u.IssueKey}}</td>
                                                    <td>{{u.Title}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->

                        <h2>Sub Task</h2>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav nav-tabs">
                                    <li ng-repeat="b in ProjectList"><a href="#TCBB0001" data-toggle="tab">{{b.Id}}</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane" id="{{b.Id}}" ng-repeat="b in ProjectList">
                                        <div class="panel panel-default">
                                            <div class="panel-heading"><h4>{{b.Title}}project</h4></div>
                                            <div class="panel-body">
                                                <div class="text-center">
                                                    <div class="well text-center">
                                                        <h4>NO DATA</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-primary btn-lg btn-block">Create</button>
                            </div>
                        </div>
                        <!-- /.row -->

                    </form>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>


