@{
    ViewBag.Title = "Create Project";
    Layout = "~/Views/Shared/_LayoutMockup.cshtml";
}

@section styles{
    <link href="~/Content/spinkit.css" rel="stylesheet" />
    @* required tip icon *@
    @*<style>
            input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT1JREFUeNpi/P//PwMpgImBRMACY/x7/uDX39sXt/67cMoDyOVgMjBjYFbV/8kkqcCBrIER5KS/967s+rmkXxzI5wJiRSBm/v8P7NTfHHFFl5mVdIzhGv4+u///x+xmuAlcdXPB9KeqeLgYd3bDU2ZpRRmwH4DOeAI07QXIRKipYPD35184/nn17CO4p/+cOfjl76+/X4GYAYThGn7/g+Mfh/ZZwjUA/aABpJVhpv6+dQUjZP78Z0YEK7OezS2gwltg64GmfTu6i+HL+mUMP34wgvGvL78ZOEysf8M1sGgZvQIqfA1SDAL8iUUMPIFRQLf+AmMQ4DQ0vYYSrL9vXDz2sq9LFsiX4dLRA0t8OX0SHKzi5bXf2HUMBVA0gN356N7p7xdOS3w5fAgcfNxWtn+BJi9gVVBOQfYPQIABABvRq3BwGT3OAAAAAElFTkSuQmCC');
                background-position: right top;
                background-repeat: no-repeat;
                box-shadow: none;
            }

            input:required:valid, textarea:required:valid {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZZJREFUeNpi/P//PwMpgImBRMAy58QshrNPTzP8+vOLIUInisFQyYjhz98/DB9/fmT48/+35v7H+8KNhE2+WclZd+G0gZmJmYGThUNz1fUVMZtvbWT59eUXG9wGZIWMUPj993eJ5VeWxuy8veM/CzPL3yfvH/9H0QBSBDYZyOVm4mGYfn6q4cory5lYmFh+MrEwM/76/YsR7mk2ZjbWP///WP37/y8cqIDhx58fjvtu7XV6//ndT34G/v8FasUsDjKO/+A2PP3wpGLd+TVsfOz8XH6KAT+nHpokcu7h6d9q/BoMxToVbBYqlt9///+1GO4/WVdpXqY/zMqXn13/+vTjI9mj94/y//v9/3e9ZRObvYbDT0Y2xnm///x+wsfHB3GSGLf41jb3rv0O8nbcR66d+HPvxf2/+YZFTHaqjl8YWBnm/vv37yly5LL8+vuLgYuVa3uf/4T/Kd8SnSTZpb6FGUXwcvJxbAPKP2VkZESNOBDx8+9PBm4OwR1TwmYwcfzjsBUQFLjOxs52A2YyKysrXANAgAEA7buhysQuIREAAAAASUVORK5CYII=');
                background-position: right top;
                background-repeat: no-repeat;
            }
        </style>*@
}

@section scripts{
    <script src="~/Scripts/Scrum/CreateProject_Sean.js"></script>
}

<div class="container-fluid" ng-app="CreateProjectModule" ng-controller="CreateProjectCtr">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create Project</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <form role="form" class="ng-pristine ng-valid">

                        <!-- Basic Info -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Project No</label>
                                    <input class="form-control" maxlength="5" placeholder="99999" required />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <input class="form-control" maxlength="200" placeholder="I am handsome guy" required />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Dev Gruop</label>
                                    <div></div>
                                    <label class="radio-inline"><input type="radio" name="optionsDevGroup" id="optionsDevGruop1" value="1" required />WWW</label>
                                    <label class="radio-inline"><input type="radio" name="optionsDevGroup" id="optionsDevGruop2" value="2" required />SSL</label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Scrum Master</label>
                                    <input class="form-control" list="listMembers" maxlength="20" placeholder="Handsome.I.Me" required />
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <!-- Date -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Start Day</label>
                                    <input class="form-control" type="date" maxlength="10" required />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Release Day</label>
                                    <input class="form-control" type="date" maxlength="10" required />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Launch Day</label>
                                    <input class="form-control" type="date" maxlength="10" required />
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                        <h2>Back log</h2>
                        <!-- Back log PB list-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <!-- Loading... -->
                                        <div class="sk-circle" id="iconLoading">
                                            <div class="sk-circle1 sk-child"></div>
                                            <div class="sk-circle2 sk-child"></div>
                                            <div class="sk-circle3 sk-child"></div>
                                            <div class="sk-circle4 sk-child"></div>
                                            <div class="sk-circle5 sk-child"></div>
                                            <div class="sk-circle6 sk-child"></div>
                                            <div class="sk-circle7 sk-child"></div>
                                            <div class="sk-circle8 sk-child"></div>
                                            <div class="sk-circle9 sk-child"></div>
                                            <div class="sk-circle10 sk-child"></div>
                                            <div class="sk-circle11 sk-child"></div>
                                            <div class="sk-circle12 sk-child"></div>
                                        </div>
                                        <!-- Loading... -->
                                        <table id="t_BackLog" class="table table-hover" style="display:none">
                                            <tbody>
                                                <tr ng-repeat="backlog in BackLogList">
                                                    <td><button class="btn btn-default" type="button" ng-click="AddPB($index)"><i class="fa fa-plus"></i></button></td>
                                                    <td><a href="{{backlog.JiraLink}}" target="_blank">{{backlog.JiraNumber}}</a></td>
                                                    <td>{{backlog.Description}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->

                        <h2>Projrct {{ProjectNumber}} PBs</h2>
                        <div class="row" id="projectPBs">
                            <div class="col-lg-12">
                                <uib-tabset justtified="true">
                                    <uib-tab ng-repeat="selectList in AddedProjectPBInfo" active="tab.active" disable="tab.disabled">
                                            <uib-tab-heading>
                                                <div>
                                                    {{selectList.JiraNumber}}&nbsp;<a ng-click="RemovePB($index, selectList.JiraNumber)"><i class="fa fa-remove text-danger"></i></a>
                                                </div>
                                            </uib-tab-heading>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4>{{selectList.Summary}}</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Role</th>
                                                                <th>Assignee</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="subTask in selectList.SubTaskList">
                                                                <td>
                                                                    {{subTask.Role}}
                                                                </td>
                                                                <td>
                                                                    <tags-input ng-model="subTask.Assignee"
                                                                                placeholder="Add a assignee"
                                                                                add-from-autocomplete-only="true"
                                                                                on-tag-added="tagAdded($tag)"
                                                                                on-tag-removed="tagRemoved($tag)"
                                                                                key-property="UID"
                                                                                display-property="Name">
                                                                        <auto-complete source="LoadPersonData($query)"
                                                                                       min-length="0"
                                                                                       debounce-delay="0"
                                                                                       max-results-to-show="10"></auto-complete>
                                                                        @*<auto-complete source="FilterPersonData($query)"></auto-complete>*@
                                                                    </tags-input>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button"
                                        class="btn btn-primary btn-lg btn-block"
                                        data-toggle="modal"
                                        data-target="#modalCreateProjectConfirm"
                                        onclick="CountdownToAccept();">
                                    Create
                                </button>
                            </div>
                        </div>
                        <!-- /.row -->

                    </form>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

<!-- List Data -->
<datalist id="listMembers">
    <option ng-repeat="p in PersonData track by p.UID">{{p.FirstName}}</option>
</datalist>


<script>
    // !! js 為 mockup 示意暫時使用 !!
    $(document).ready(function () {

        //$('#t_BackLog tr').on('click', SelectBackLogPB)

        //setTimeout(loading5Second, 3000);

        //setAnimated();

        $('.nav-tabs li').on('click', function () {
            $(this).addClass('animated tada')
            $(this).siblings().removeClass('animated tada');
        })
    })
</script>


@section Modal{
    <div class="modal fade" id="modalCreateProjectConfirm" tabindex="-1" role="dialog" aria-labelledby="modalCreateProjectConfirmLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="createSubTaskLabel">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Project {{ProjectNumber}}
                    </h4>
                    <p>Fix the deadlock issue of Sciquest order process app.</p>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{DevGroup}} - {{SM}}
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>PB</th>
                                        <th>Name</th>
                                        <th>Assignee</th>
                                    </tr>
                                    @*<tr ng-repeat="selectPB in AddedProjectPBInfo">
                                        <td>{{selectPB.JiraNumber}}</td>
                                        <td>{{selectPB.Description}}</td>
                                        <td>
                                            <span ng-repeat="subTask in selectPB.SubTaskList">
                                                <span ng-repeat="assignee in subTask.AssigneeList">{{assignee.FirstName}}, </span>
                                            </span>
                                        </td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="bt_accept" type="button" class="btn btn-primary disabled"><span>(5)</span>&nbsp;Accept</button>
                </div>
            </div>
        </div>

        <script>
            $('.modal .modal-title').addClass('animated zoomIn');
            $('.modal .modal-header p').addClass('animated zoomIn');
            $('.modal .modal-body .panel-heading').addClass('animated slideInDown');
            $('.modal .table tr').addClass('animated slideInDown');
        </script>
    </div>

}