@{
    ViewBag.Title = "Create Project";
    Layout = "~/Views/Shared/_MockupLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/Scrum/createProjectSin.js"></script>
}

@section styles{
    <link href="~/Content/spinkit.css" rel="stylesheet" />
    <link href="~/Content/Scrum/CreateProjectSin.css" rel="stylesheet" />
}

<div ng-app="scrumModule">
    <div ng-controller="createProjectCtrl">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Create Project</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <form name="drform" role="form" class="ng-pristine ng-valid">

                                <!-- Basic Info -->
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group" ng-class="{ 'has-error' : drform.prjnumber.$dirty && drform.prjnumber.$error.required  }">
                                            <label>Project No.</label>
                                            <ng-messages for="drform.prjnumber.$error" ng-if="drform.prjnumber.$dirty">
                                                <ng-message class="text-danger pull-right" when="required">Required.</ng-message>
                                            </ng-messages>
                                            <input type="number" class="form-control" name="prjnumber" ng-model="projectNumber" required
                                                   onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group" ng-class="{ 'has-error' : drform.prjname.$dirty && drform.prjname.$error.required  }">
                                            <label>Project Name</label>
                                            <ng-messages for="drform.prjname.$error" ng-if="drform.prjname.$dirty">
                                                <ng-message class="text-danger pull-right" when="required">Required.</ng-message>
                                            </ng-messages>
                                            <input class="form-control" name="prjname" maxlength="200" placeholder="" ng-model="projectName" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Dev Gruop</label>
                                            <div></div>
                                            <label class="radio-inline"><input type="radio" ng-model="devGroup" name="optionsDevGroup" id="optionsDevGruop1" value="1" />WWW</label>
                                            <label class="radio-inline"><input type="radio" ng-model="devGroup" name="optionsDevGroup" id="optionsDevGruop2" value="2" />SSL</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group" ng-class="{ 'has-error' : drform.smname.$dirty && (drform.smname.$error.required || drform.smname.$error.checksmname) }">
                                            <label>Scrum Master</label>
                                            <ng-messages for="drform.smname.$error" ng-if="drform.smname.$dirty">
                                                <ng-message class="text-danger pull-right" when="required">Required.</ng-message>
                                                <ng-message class="text-danger pull-right" when="checksmname">not in B2B member list.</ng-message>
                                            </ng-messages>
                                            <input name="smname" class="form-control" ng-maxlength="30" list="memberlist" ng-model="scrumMasterName" required checksmname />
                                            <datalist id="memberlist">
                                                <select>
                                                    <option data-ng-repeat="p in PersonData" value="{{p.Name}}"></option>
                                                </select>
                                            </datalist>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <!-- Date -->
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Start Day</label>
                                            <drcalander format="{{format}}" datemodel="startDate"></drcalander>
                                            startDate = {{startDate}}<br />
                                            startDateFormat = {{startDateFormat()}}
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Release Day</label>
                                            <drcalander format="{{format}}" datemodel="releaseDate"></drcalander>
                                            releaseDate = {{releaseDate}}
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Launch Day</label>
                                            <drcalander format="{{format}}" datemodel="launchdate"></drcalander>
                                            launchdate = {{launchdate}}
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->

                                <h2>Backlog</h2>
                                <!-- Back log PB list-->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <!-- Loading animation -->
                                                <div class="sk-circle" id="iconLoading">
                                                    <div class="sk-circle1 sk-child"></div>
                                                    <div class="sk-circle2 sk-child"></div>
                                                    <div class="sk-circle3 sk-child"></div>
                                                    <div class="sk-circle4 sk-child"></div>
                                                    <div class="sk-circle5 sk-child"></div>
                                                    <div class="sk-circle6 sk-child"></div>
                                                    <div class="sk-circle7 sk-child"></div>
                                                    <div class="sk-circle8 sk-child"></div>
                                                    <div class="sk-circle9 sk-child"></div>
                                                    <div class="sk-circle10 sk-child"></div>
                                                    <div class="sk-circle11 sk-child"></div>
                                                    <div class="sk-circle12 sk-child"></div>
                                                </div>
                                                <!-- Data display -->
                                                <table id="t_BackLog" class="table table-hover" style="display:none">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Jira Number</th>
                                                            <th>Summary</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="backlog in BackLogList">
                                                            <td><button class="btn btn-default" type="button" ng-click="AddPB($index)"><i class="fa fa-plus"></i></button></td>
                                                            <td><a href="{{backlog.JiraLink}}" target="_blank">{{backlog.JiraNumber}}</a></td>
                                                            <td>{{backlog.Summary}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.panel-body -->
                                        </div>
                                        <!-- /.panel -->
                                    </div>
                                    <!-- /.col-lg-12 -->
                                </div>
                                <!-- /.row -->
                                <h2>Project {{projectNumber}} PBs</h2>

                                <div class="row" id="projectPBs">
                                    <div class="col-lg-12">
                                        <uib-tabset justtified="true">
                                            <uib-tab ng-repeat="addedList in AddedProjectPBInfo" active="tab.active" disable="tab.disabled">
                                                <uib-tab-heading>
                                                    <div>
                                                        {{addedList.JiraNumber}}&nbsp;<a ng-click="RemovePB($index,addedList.JiraNumber)"><i class="fa fa-remove text-danger"></i></a>
                                                    </div>
                                                </uib-tab-heading>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4>{{addedList.Summary}}</h4>
                                                    </div>
                                                    <div class="panel-body">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Role</th>
                                                                    <th>Assignee</th>
                                                                    <th>&nbsp;</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="subTask in addedList.SubTaskList">
                                                                    <td class="thwid1">{{subTask.Role}}</td>
                                                                    <td class="thwid2">
                                                                        <tags-input ng-model="subTask.Assignee"
                                                                                    placeholder="Add a member"
                                                                                    add-from-autocomplete-only="true"
                                                                                    on-tag-added="tagAdded($tag)"
                                                                                    on-tag-removed="tagRemoved($tag)"
                                                                                    key-property="UID"
                                                                                    display-property="Name">
                                                                            <auto-complete source="LoadPersonData($query)"
                                                                                           min-length="0"
                                                                                           debounce-delay="0"
                                                                                           max-results-to-show="10"></auto-complete>

                                                                        </tags-input>
                                                                    </td>
                                                                    <td class="thwid3">&nbsp;</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </div>

                                <!-- /.row -->

                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="button"
                                                class="btn btn-primary btn-lg btn-block"
                                                data-toggle="modal"
                                                data-target="#modalCreateProjectConfirm"
                                                ng-click="ReciprocalAccept();">
                                            Confirm
                                        </button>
                                    </div>
                                </div>
                                <!-- /.row -->

                            </form>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>

        <!-- Confirm Modal-->
        <div class="modal fade" id="modalCreateProjectConfirm" tabindex="-1" role="dialog" aria-labelledby="modalCreateProjectConfirmLabel">
            @Html.Partial("_CreateProjectConfirmSin")
        </div>
    </div>
</div>
