<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="createSubTaskLabel">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Project {{projectNumber}}
            </h4>            
            <p>{{projectName}}</p>
            <div role="alert" class="alert alert-success" ng-show="CreatSuccess">
                <strong>Creat project success!!</strong>
            </div>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    SSL - {{scrumMasterName}}
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>PB</th>
                                <th>Name</th>
                                <th>Assignee</th>
                            </tr>
                            <tr ng-repeat="addedList in addedProjectPBInfo">
                                <td>{{addedList.IssueKey}}</td>
                                <td>{{addedList.Summary}}</td>
                                <td>{{GetPBAssignees(addedList)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="bt_create" type="button" ng-click="CreateProject()" class="btn btn-primary" ng-disabled="SubmitStyle">&nbsp;Create</button>
        </div>
    </div>
</div>

<div class="modal-body" style="padding:0">
    <div class="alert alert-{{data.mode}}" style="margin-bottom:0">
        <button type="button" class="close" data-ng-click="close()">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
        <strong>{{data.boldTextTitle}}</strong> {{data.textAlert}}
    </div>
</div>