<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="createSubTaskLabel">Project ##19999## ##Project Name##</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    ##Group## - ##SM##
                </div>
                <div class="panel-body">
                    <p>##TCBB-9682## ##PB Name ## (Leo, Stella, Tina)</p>
                    <p>##TCBB-9232## ##PB Name ## (Sin, Howard, Jarvis)</p>
                    <p>##TCBB-9643## ##PB Name ## (Jarvis, Sean, Jonathan)</p>
                    <p>##TCBB-9612## ##PB Name ## (Jarvis, Jarvis)</p>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="bt_accept" type="button" class="btn btn-primary disabled"><span>(5)</span>&nbsp;Accept</button>
        </div>
    </div>
</div>