@{
    ViewBag.Title = "Create Project";
    Layout = "~/Views/Shared/_MockupLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create Project</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <form role="form" class="ng-pristine ng-valid">

                        <!-- Basic Info -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Project No</label>
                                    <input class="form-control" maxlength="5" placeholder="19999" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <input class="form-control" maxlength="200" placeholder="" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Dev Gruop</label>
                                    <div></div>
                                    <label class="radio-inline"><input type="radio" name="optionsDevGroup" id="optionsDevGruop1" value="1" />WWW</label>
                                    <label class="radio-inline"><input type="radio" name="optionsDevGroup" id="optionsDevGruop2" value="2" />SSL</label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Scrum Master</label>
                                    <input class="form-control" list="listMembers" maxlength="20" placeholder="" />
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <!-- Date -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Start Day</label>
                                    <input class="form-control" type="date" maxlength="10" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Release Day</label>
                                    <input class="form-control" type="date" maxlength="10" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Launch Day</label>
                                    <input class="form-control" type="date" maxlength="10" />
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                        <h2>Back log</h2>
                        <!-- Back log PB list-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <td><a href="http://jira/browse/TCBB-9679" target="_blank">TCBB-9679</a></td>
                                                    <td>Fix the deadlock issue of Sciquest order process app.</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="http://jira/browse/TCBB-9634" target="_blank">TCBB-9634</td>
                                                    <td>Export order results</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="http://jira/browse/TCBB-9623" target="_blank">TCBB-9623</td>
                                                    <td>support multiple fixed discount promo code for multiple warehouse order</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="http://jira/browse/TCBB-9642" target="_blank">TCBB-9642</td>
                                                    <td>Remove redundancy javascript file (phase 2)</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="http://jira/browse/TCBB-9611" target="_blank">TCBB-9611</td>
                                                    <td>SSL - Re-structure API URL (phase 2)</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="http://jira/browse/TCBB-9667" target="_blank">TCBB-9667</td>
                                                    <td>Fix the deadlock issue of Sciquest order process app.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->

                        <h2>Projrct 19999 PBs</h2>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#TCBB9527" data-toggle="tab">TCBB9527</a>
                                    </li>
                                    <li><a href="#TCBB689" data-toggle="tab">TCBB689</a></li>
                                    <li><a href="#TCBB0001" data-toggle="tab">TCBB0001</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="TCBB9527">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4>Fix the deadlock issue of Sciquest order process app</h4>
                                                <div class="btn-group pull-right">
                                                    <button type="button" class="btn btn-danger">Remove from Project</button>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                @AssigneeTable()
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="TCBB689">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4>Export order results</h4>
                                                <div class="btn-group pull-right">
                                                    <button type="button" class="btn btn-danger">Remove from Project</button>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                @AssigneeTable()
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="TCBB0001">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4>TEST the Project create</h4>
                                                <div class="btn-group pull-right">
                                                    <button type="button" class="btn btn-danger">Remove from Project</button>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                @AssigneeTable()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-primary btn-lg btn-block" onclick="window.document.body.onbeforeunload = null; return true;">Create</button>
                            </div>
                        </div>
                        <!-- /.row -->

                    </form>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

<!-- List Data -->
<datalist id="listMembers">
    <!-- TODO get it from service [GET_MemberList] -->
    <option>Carboon.C.Wu</option>
    <option>Sin.C.Lin</option>
    <option>Stella.W.Chen</option>
</datalist>


@helper AssigneeTable() 
{
    <table class="table">
        <thead>
            <tr>
                <th>Role</th>
                <th>Assignee</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dev-Service</td>
                <td>
                    <tags-input id="tags_Service" class="tags-input-home ng-valid ng-isolate-scope ng-valid-max-tags ng-valid-min-tags ng-valid-leftover-text ng-touched ng-dirty" ng-model="tags" placeholder="Add a superhero" replace-spaces-with-dashes="false" display-property="name">
                        <div class="host" tabindex="-1" ng-click="eventHandlers.host.click()" ti-transclude-append="">
                            <div class="tags" ng-class="{focused: hasFocus}"><ul class="tag-list"><!-- ngRepeat: tag in tagList.items track by track(tag) --><li class="tag-item ng-scope" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }" ng-click="eventHandlers.tag.click(tag)"><ti-tag-item data="::tag" class="ng-isolate-scope"><!-- ngInclude: undefined --><ng-include src="$$template" class="ng-scope"><span ng-bind="$getDisplayText()" class="ng-binding ng-scope">Batman</span> <a class="remove-button ng-binding ng-scope" ng-click="$removeTag()" ng-bind="::$$removeTagSymbol">×</a></ng-include></ti-tag-item></li><!-- end ngRepeat: tag in tagList.items track by track(tag) --><li class="tag-item ng-scope" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }" ng-click="eventHandlers.tag.click(tag)"><ti-tag-item data="::tag" class="ng-isolate-scope"><!-- ngInclude: undefined --><ng-include src="$$template" class="ng-scope"><span ng-bind="$getDisplayText()" class="ng-binding ng-scope">Superman</span> <a class="remove-button ng-binding ng-scope" ng-click="$removeTag()" ng-bind="::$$removeTagSymbol">×</a></ng-include></ti-tag-item></li><!-- end ngRepeat: tag in tagList.items track by track(tag) --><li class="tag-item ng-scope" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }" ng-click="eventHandlers.tag.click(tag)"><ti-tag-item data="::tag" class="ng-isolate-scope"><!-- ngInclude: undefined --><ng-include src="$$template" class="ng-scope"><span ng-bind="$getDisplayText()" class="ng-binding ng-scope">kjf</span> <a class="remove-button ng-binding ng-scope" ng-click="$removeTag()" ng-bind="::$$removeTagSymbol">×</a></ng-include></ti-tag-item></li><!-- end ngRepeat: tag in tagList.items track by track(tag) --></ul><input class="input ng-valid ng-touched ng-dirty" autocomplete="off" ng-model="newTag.text" ng-model-options="{getterSetter: true}" ng-keydown="eventHandlers.input.keydown($event)" ng-focus="eventHandlers.input.focus($event)" ng-blur="eventHandlers.input.blur($event)" ng-paste="eventHandlers.input.paste($event)" ng-trim="false" ng-class="{'invalid-tag': newTag.invalid}" ng-disabled="disabled" ti-bind-attrs="{type: options.type, placeholder: options.placeholder, tabindex: options.tabindex, spellcheck: options.spellcheck}" ti-autosize="" type="text" placeholder="Add a superhero" spellcheck="true" style="width: 114px;"><span class="input" style="visibility: hidden; width: auto; white-space: pre; display: none;">Add a superhero</span></div>
                            <auto-complete source="loadItems($query)" min-length="1" debounce-delay="0" load-on-down-arrow="true" max-results-to-show="50" template="home-template" class="ng-scope ng-isolate-scope"><!-- ngIf: suggestionList.visible --></auto-complete>
                        </div>
                    </tags-input>
                </td>
            </tr>
            <tr>
                <td>Dev-UI</td>
                <td>
                    <tags-input id="tags_UI" class="tags-input-home ng-valid ng-isolate-scope ng-valid-max-tags ng-valid-min-tags ng-valid-leftover-text ng-touched ng-dirty" ng-model="tags" placeholder="Add a superhero" replace-spaces-with-dashes="false" display-property="name">
                        <div class="host" tabindex="-1" ng-click="eventHandlers.host.click()" ti-transclude-append="">
                            <div class="tags" ng-class="{focused: hasFocus}"><ul class="tag-list"><!-- ngRepeat: tag in tagList.items track by track(tag) --><li class="tag-item ng-scope" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }" ng-click="eventHandlers.tag.click(tag)"><ti-tag-item data="::tag" class="ng-isolate-scope"><!-- ngInclude: undefined --><ng-include src="$$template" class="ng-scope"><span ng-bind="$getDisplayText()" class="ng-binding ng-scope">Batman</span> <a class="remove-button ng-binding ng-scope" ng-click="$removeTag()" ng-bind="::$$removeTagSymbol">×</a></ng-include></ti-tag-item></li><!-- end ngRepeat: tag in tagList.items track by track(tag) --><li class="tag-item ng-scope" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }" ng-click="eventHandlers.tag.click(tag)"><ti-tag-item data="::tag" class="ng-isolate-scope"><!-- ngInclude: undefined --><ng-include src="$$template" class="ng-scope"><span ng-bind="$getDisplayText()" class="ng-binding ng-scope">Superman</span> <a class="remove-button ng-binding ng-scope" ng-click="$removeTag()" ng-bind="::$$removeTagSymbol">×</a></ng-include></ti-tag-item></li><!-- end ngRepeat: tag in tagList.items track by track(tag) --><li class="tag-item ng-scope" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }" ng-click="eventHandlers.tag.click(tag)"><ti-tag-item data="::tag" class="ng-isolate-scope"><!-- ngInclude: undefined --><ng-include src="$$template" class="ng-scope"><span ng-bind="$getDisplayText()" class="ng-binding ng-scope">kjf</span> <a class="remove-button ng-binding ng-scope" ng-click="$removeTag()" ng-bind="::$$removeTagSymbol">×</a></ng-include></ti-tag-item></li><!-- end ngRepeat: tag in tagList.items track by track(tag) --></ul><input class="input ng-valid ng-touched ng-dirty" autocomplete="off" ng-model="newTag.text" ng-model-options="{getterSetter: true}" ng-keydown="eventHandlers.input.keydown($event)" ng-focus="eventHandlers.input.focus($event)" ng-blur="eventHandlers.input.blur($event)" ng-paste="eventHandlers.input.paste($event)" ng-trim="false" ng-class="{'invalid-tag': newTag.invalid}" ng-disabled="disabled" ti-bind-attrs="{type: options.type, placeholder: options.placeholder, tabindex: options.tabindex, spellcheck: options.spellcheck}" ti-autosize="" type="text" placeholder="Add a superhero" spellcheck="true" style="width: 114px;"><span class="input" style="visibility: hidden; width: auto; white-space: pre; display: none;">Add a superhero</span></div>
                            <auto-complete source="loadItems($query)" min-length="1" debounce-delay="0" load-on-down-arrow="true" max-results-to-show="50" template="home-template" class="ng-scope ng-isolate-scope"><!-- ngIf: suggestionList.visible --></auto-complete>
                        </div>
                    </tags-input>
                </td>
            </tr>
            <tr>
                <td>Tester</td>
                <td>
                    <tags-input id="tags_Tester" class="tags-input-home ng-valid ng-isolate-scope ng-valid-max-tags ng-valid-min-tags ng-valid-leftover-text ng-touched ng-dirty" ng-model="tags" placeholder="Add a superhero" replace-spaces-with-dashes="false" display-property="name">
                        <div class="host" tabindex="-1" ng-click="eventHandlers.host.click()" ti-transclude-append="">
                            <div class="tags" ng-class="{focused: hasFocus}"><ul class="tag-list"><!-- ngRepeat: tag in tagList.items track by track(tag) --><li class="tag-item ng-scope" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }" ng-click="eventHandlers.tag.click(tag)"><ti-tag-item data="::tag" class="ng-isolate-scope"><!-- ngInclude: undefined --><ng-include src="$$template" class="ng-scope"><span ng-bind="$getDisplayText()" class="ng-binding ng-scope">Batman</span> <a class="remove-button ng-binding ng-scope" ng-click="$removeTag()" ng-bind="::$$removeTagSymbol">×</a></ng-include></ti-tag-item></li><!-- end ngRepeat: tag in tagList.items track by track(tag) --><li class="tag-item ng-scope" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }" ng-click="eventHandlers.tag.click(tag)"><ti-tag-item data="::tag" class="ng-isolate-scope"><!-- ngInclude: undefined --><ng-include src="$$template" class="ng-scope"><span ng-bind="$getDisplayText()" class="ng-binding ng-scope">Superman</span> <a class="remove-button ng-binding ng-scope" ng-click="$removeTag()" ng-bind="::$$removeTagSymbol">×</a></ng-include></ti-tag-item></li><!-- end ngRepeat: tag in tagList.items track by track(tag) --><li class="tag-item ng-scope" ng-repeat="tag in tagList.items track by track(tag)" ng-class="{ selected: tag == tagList.selected }" ng-click="eventHandlers.tag.click(tag)"><ti-tag-item data="::tag" class="ng-isolate-scope"><!-- ngInclude: undefined --><ng-include src="$$template" class="ng-scope"><span ng-bind="$getDisplayText()" class="ng-binding ng-scope">kjf</span> <a class="remove-button ng-binding ng-scope" ng-click="$removeTag()" ng-bind="::$$removeTagSymbol">×</a></ng-include></ti-tag-item></li><!-- end ngRepeat: tag in tagList.items track by track(tag) --></ul><input class="input ng-valid ng-touched ng-dirty" autocomplete="off" ng-model="newTag.text" ng-model-options="{getterSetter: true}" ng-keydown="eventHandlers.input.keydown($event)" ng-focus="eventHandlers.input.focus($event)" ng-blur="eventHandlers.input.blur($event)" ng-paste="eventHandlers.input.paste($event)" ng-trim="false" ng-class="{'invalid-tag': newTag.invalid}" ng-disabled="disabled" ti-bind-attrs="{type: options.type, placeholder: options.placeholder, tabindex: options.tabindex, spellcheck: options.spellcheck}" ti-autosize="" type="text" placeholder="Add a superhero" spellcheck="true" style="width: 114px;"><span class="input" style="visibility: hidden; width: auto; white-space: pre; display: none;">Add a superhero</span></div>
                            <auto-complete source="loadItems($query)" min-length="1" debounce-delay="0" load-on-down-arrow="true" max-results-to-show="50" template="home-template" class="ng-scope ng-isolate-scope"><!-- ngIf: suggestionList.visible --></auto-complete>
                        </div>
                    </tags-input>
                </td>
            </tr>
        </tbody>
    </table>
}

<!-- TODO 好像佈上測試環境後怪怪der -->
@*<script>
        window.document.body.onbeforeunload = function () {
            return '★★ 揪斗媽爹, 真要走?? 好，你走吧！ ★★';
        }
    </script>*@