@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMockup.cshtml";
}
@section styles{
    @*<link href="@Url.Content("~/Content/ProjectStatus.css")" rel="stylesheet" />*@
}
@section scripts{
    <script src="~/Scripts/Demo.js"></script>
}

<div ng-app="mvcapp">
    <div ng-controller="indexCtrl">
        <div class="row">
            <h1 class="page-header">PRJ Release Panel</h1>
            <div ng-bind-html="PrjReleaseContent"></div>
        </div>
    </div>
</div>


