@{
    ViewBag.Title = "Project Status";
    Layout = "~/Views/Shared/_B2BLayout.cshtml";
}

<style>
     /*調整Status Icon的顏色*/
    .fa-check:before {
        color:green;
    }

    .fa-spinner:before {
        color: gray;
    }

     /*調整Table的排序箭頭*/
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting:after {
        content: "";
    }

     /*隱藏Status欄位內用於排序的資料*/
    td span {
        display: none;
    }

    td.center {
        text-align: center;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project Status</h1>
        </div>
        <div class="col-lg-12">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Project#</th>
                            <th>Project Name</th>
                            <th>SM</th>
                            <th>Created Date</th>
                            <th>JIRA Status</th>
                            <th>DR Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td>12815</td>
                            <td>B2B_WWW Newkit phase I</td>
                            <td>Sean.Z.Chen</td>
                            <td class="center">2015/12/19</td>
                            <td class="center"><p class="fa fa-spinner" /><span>x</span></td>
                            <td class ="center"><p class="fa fa-check" /><span>v</span></tdclass>
                        </tr>
                        <tr class="even">
                            <td>12778</td>
                            <td>B2B_WWW 2016 CW 2-4:BOM Phase III & Prodcut Fix</td>
                            <td>Jac.T.Wang</td>
                            <td class="center">2015/12/18</td>
                            <td class="center"><p class="fa fa-check" /><span>v</span></td>
                            <td class="center"><p class="fa fa-check" /><span>v</span></td>
                        </tr>
                        <tr class="odd">
                            <td>12777</td>
                            <td>B2B_WWW Newkit phase II</td>
                            <td>Sean.Z.Chen</td>
                            <td class="center">2015/12/17</td>
                            <td class="center"><p class="fa fa-check" /><span>v</span></td>
                            <td class="center"><p class="fa fa-spinner" /><span>x</span></td>
                        </tr>
                        <tr class="even">
                            <td>12776</td>
                            <td>B2B_WWW 2016 CW 2-3:BOM Phase II</td>
                            <td>Jac.T.Wang</td>
                            <td class="center">2015/12/16</td>
                            <td class="center"><p class="fa fa-check" /><span>v</span></td>
                            <td class="center"><p class="fa fa-check" /><span>v</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

